.textarea-group {
    position: relative;
}

.textarea-file {
    position: absolute;
    background-image: url("../../images/form-post-attach.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}

#input-12 {
    width: 350px;
    outline: none;
    resize: none;
    overflow: hidden;
    font-family: "Plumb";
}
