@font-face {
    font-family: 'Downcome';
    src: url('../assets/fonts/Downcome.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Plumb';
    src: url('../assets/fonts/Plumb.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ApexMk3';
    src: url('../assets/fonts/ApexMk3.ttf');
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: 'Geometos';
    src: url('../assets/fonts/Geometos.ttf');
    font-style: normal;
    font-weight: 200;
}
