.header__center-image {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.image-block {
    margin-top: 25px;
    margin: auto;
    height: 250px;
    width: 350px;
}

.header__center-group__input {
    margin-top: -20px;
    display: flex;
    justify-content: center;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        opacity: 0;
        padding-bottom: 15px;
        background-image: url("../assets/images/avatar-upload.svg");
        background-size: cover;
        width: 12rem;
        height: 17px;
    }
}

.show-upload {
    label {
        opacity: 0.9;
    }
}

.canvas-group {
    margin-left: 100px;
    margin-top: -260px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.canvas {
    cursor: none;
    position: absolute;
    z-index: 50;
    bottom: 140px;
    max-height: 600px;
    max-width: 600px;
}

.canvas-img {
    max-width: 600px;
    max-height: 600px;
}

.canvas-btn {
    font-family: "Plumb";
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    height: 50px;
}

.canvas__input-group {
    padding: 30px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    input {
        margin: 5px;
    }
}
