.imageBlock {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.imageBlock__image {
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25%;
    margin-top: auto;
    height: 250px;
    width: 350px;

}

.imageBlock__group-input {
    margin-top: -20px;
    display: flex;
    justify-content: center;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        opacity: 0;
        margin-left: 15%;
        padding-bottom: 15px;
        background-image: url("../assets/images/avatar-upload.svg");
        background-size: cover;
        width: 12rem;
        height: 17px;
    }
}

.show-upload {
    label {
        opacity: 1;
    }
}

.imageBlock__canvas-group {
    margin-left: 100px;
    margin-top: -260px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.imageBlock__canvas {
    cursor: none;
    position: absolute;
    z-index: 50;
    top: 160px;
    max-height: 600px;
    max-width: 600px;
}

.imageBlock__canvas-img {
    max-width: 600px;
    max-height: 600px;
}

.imageBlock__canvas-btn {
    font-family: "Plumb";
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    height: 50px;
}

.imageBlock__canvas-input-group {
    padding: 30px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    input {
        margin: 5px;
    }
}

.imageBlock__slider {
    background-color: rgb(34, 34, 34);
    width: 900px;
    height: 100%;
    z-index: 100 !important;
    top: 50px;
    left: 100px;
    position: absolute;
}

.imageBlock__slider-group {
    border: 3px solid rgb(70, 70, 70);
    height: 800px;
    padding: 15px;
    background-color: rgb(207, 207, 207);
    display: flex !important;
}

.imageBlock__slider-descr {
    border: 2px solid rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto auto auto 15px;
    height: 500px;
    width: 300px;
    background-color: rgb(161, 161, 161);
    color: white;
}

.imageBlock__slider-crud {
    display: flex;
    flex-direction: column;

    button {
        font-family: "Plumb";
        border: 1px solid;
        margin: 3px;
    }
}

.imageBlock__slider-image-group {
    display: flex;
    align-items: center;
    min-width: 600px;
    min-height: 600px;
}

.imageBlock__slider-image {
    margin: auto;
    align-items: center;
}
