@import './variables/_var_style-my-page';

@import './variables/_fonts';

@import './_my-page-avatar';

.page-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}


.header__top {
    align-items: center;
    max-height: 40px;
}

.header__top-background {
    align-items: center;
    max-height: 40px;
    display: flex;
}


.right-side__panel-sticks {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.panel__stick-first {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-top: -40px;
}

.panel__stick-second {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-top: -40px;
}

.header__right-side__panel {
    width: 350px;
    height: 250px;
    padding: 10px;
    margin: 30px 0 0 0;
    border: 1px solid black;
    border-radius: 5%;
    background-color: $backgroundColorComponent;
}

.right-side__title {
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #4D5462;
    font-size: 1.3rem;
    color: white;
}

.right-side__descr {
    ul {
        height: 180px;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #4D5462;
        border-radius: 10px;

        li {
            color: white;
            list-style: none;
        }
    }
}

.post-group {
    margin-top: 80px;
    width: 350px;
}

.post__form-file {
    div {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 3px;
        background-image: url("../assets/images/form-post-attach.svg");
        background-size: cover;
        width: 20px;
        height: 20px;
    }
}

.note__footer-edit {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-edit.svg");

}

.note__footer-like {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-like.svg");
}

.note__footer-repost {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-repost.svg");
}

.footer-note__like-group {
    cursor: pointer;
}

.friendlist-container {
    padding: 10px;
    border-radius: 10px;
    margin: 80px auto 0 auto;
    height: 340px;
    width: 350px;
    border: 1px solid black;
    background-color: $backgroundColorComponent;
}

.friendlist__content-group {
    background-color: #4D5462;
    border-radius: 15px;
    padding-bottom: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friendlist__top-panel {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #4D5462;
    color: white;
}

.friendlist-item {
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    max-height: 110px;
    text-decoration: none !important;

    img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    div {
        color: white;
        display: flex;
        justify-content: center;
        height: 20px;
    }
}
