*,
*::after,
*::before {
    box-sizing: border-box
}

@import './variables/_fonts';

.header {
    background-color: #9EC4C9;
    height: 100vh;
}

.menu-group {
    padding-top: 20vh;
}

.menu {
    background-color: #4D5462;
    height: 100vh;
    min-width: 400px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.menu-title {
    margin: auto;
    padding: 5px;
    width: 60%;
    border-bottom: 3px solid #9EC4C9;
    color: white;
    font-family: 'Geometos';
    font-size: 20px;
}

.form__submit-button {
    display: none;
}


.submit__button-label {
    font-family: 'Geometos';
    margin-top: 15px;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    cursor: pointer;
    color: #4D5462 !important;
    border: none;
    background-color: #9EC4C9;

    &:hover {
        color: #ffffff !important;
        background-color: #8F828D;
    }
}

.input-group {
    height: 66.40px;
}

.invalid {
    height: 1.4rem;
    color: rgb(255, 255, 255);
}

.invalid-group {
    height: 22.39px;
    width: 100%;
}

.form__register-input {
    height: 2rem;
    margin-top: 1rem;
    border: 0;
    border-bottom: 2px solid #9EC4C9;
    outline: none;
    font-family: 'Plumb';

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }
}

$speed: 0.5s;

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #ffff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none !important;
    font-family: 'Geometos';
    text-transform: uppercase;

    &:hover {

        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: white;
        display: block;
        transition: $speed;
        position: absolute;
        background: #8F828D;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }

    &:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #4D5462;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #9EC4C9;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}

.img{
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}