@import './variables/_var_style-my-page';


.page-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.header__center-image {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.header__top {
    align-items: center;
    max-height: 40px;
}

.header__top-background {
    align-items: center;
    max-height: 40px;
    display: flex;
}

.header__center-group__input {
    margin-top: -20px;
    display: flex;
    justify-content: center;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        opacity: 0;
        padding-bottom: 15px;
        background-image: url("../assets/images/avatar-upload.svg");
        background-size: cover;
        width: 12rem;
        height: 17px;
    }
}

.center__image-input {
    padding: 0 5px;
    font-family: 'Plumb';
    font-size: 15px;
    cursor: pointer;
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    height: 23px;
    align-items: center;
    justify-content: center;
}

.image-block {
    margin-top: 25px;
    margin: auto;
    height: 250px;
    width: 350px;
}

.right-side__panel-sticks {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.panel__stick-first {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-top: -40px;
}

.panel__stick-second {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-top: -40px;
}

.header__right-side__panel {
    width: 350px;
    height: 250px;
    padding: 10px;
    margin: 30px 0 0 0;
    border: 1px solid white;
    border-radius: 5%;
    background-color: $backgroundColorComponent;
}

.right-side__title {
    font-size: 1.3rem;
    color: #ffffff;
}

.right-side__descr {
    ul {
        padding: 0;

        li {
            color: #ffffff;
            list-style: none;
        }
    }
}

.post-group {
    width: 350px;
}

.post__form-file {
    div {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 3px;
        background-image: url("../assets/images/form-post-attach.svg");
        background-size: cover;
        width: 20px;
        height: 20px;
    }
}

.note__footer-edit {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-edit.svg");

}

.note__footer-like {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-like.svg");
}

.note__footer-repost {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-repost.svg");
}

.footer-note__like-group {
    cursor: pointer;
}

.friendlist-container {
    padding: 10px;
    border-radius: 10px;
    margin: 80px auto 0 auto;
    height: 350px;
    width: 350px;
    border: 1px solid white;
    background-color: $backgroundColorComponent;
}

.friendlist__content-group {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.friendlist__top-panel {
    padding: 10px 20px 20px 20px;
    color: white;
    border-bottom: 2px solid white;
}

.friendlist-item {
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    max-height: 110px;
    text-decoration: none !important;

    img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    div {
        color: white;
        display: flex;
        justify-content: center;
        height: 20px;
    }
}
